.margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.place-name {
  display: inline !important;
}

.filters {
  width: 200px;
  @extend .margin-auto;
}

.places {
  @extend .margin-auto;
}

.search {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 75vh;
    overflow-y: auto;
}

.search-typeahead {
  position: absolute;
  left: 100px;
  z-index: 1000;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #292b2c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  width: 300px;
}
